<div class="row header-wrapper main-parts">
  <div class="col-sm-2">
      <span class="header-icon-circle">
          <i class="fas fa-image"></i>
      </span>
  </div>

  <div class="col-sm-8 main-parts__centre">
      <span>
        <i class="fas fa-search"></i>
      </span>
    <span>
        <i class="fas fa-bars"></i>
      </span>
    <span>
        All
      <i class="fas fa-angle-down"></i>
      </span>
    <span>
         Position
      <i class="fas fa-angle-down"></i>
      </span>
    <span>
         Score
      <i class="fas fa-angle-down"></i>
      </span>
    <span class="float-right">
      <i class="fas fa-th-list"></i>
      </span>
  </div>
  <div class="col-sm-2 main-parts">
    <span class="header-letter-circle float-right">
          A
        </span>
    <span class="float-right">
          <i class="fas fa-user-plus"></i>
        </span>

  </div>
</div>
